language: python
python:
 - "2.6"
 - "2.7"
 - "3.6"
# command to install build dependencies
before_install:
 - pip install -r requirements_development.txt
# command to install dependencies
install:
 - pip install -r requirements.txt
# command to run tests
script:
 - make test
 - make translate-all
